//colours

$white: #fff;
$black: #000;
$deep-blue: #3f81cc;
$light-blue: #70a1d9;
$text-blue: #0164a7;
$blue-grey: #6490c2;
$dark-grey: #8d8d8d;
$light-grey: #e7e7e7;
$icon-grey: #5e5e5e;
$almost-white: #f0f0f0;

//fonts
$helvetica: Helvetica, Arial, sans-serif;

