.dashboard {
  margin: -44px auto 0 auto;
  padding: 0 8px;
  position: relative;

  .main-content {
    overflow: hidden;
  }

}

@include respond-to(desktop) {
  .dashboard {
    max-width: 592px;
  }
}

@include respond-to(wide-desktop) {
  .dashboard {
    max-width: 996px;
  }
}