@import 'variables';
@import 'mixins';
@import 'reset';
@import 'font-awesome/font-awesome';

.page {
  background-color: $almost-white;
  font-family: $helvetica;
}

.hidden-text {
  text-indent: -9999px;
  white-space: nowrap;
  outline:none;
  display: inline-block;
}

.curved {
  border-radius: 4px;
}

.content-panel {
  border-top: 1px solid $deep-blue;
  background-color: $white;
}

.blue-link {
  color: $text-blue;
  text-decoration: none;
  @include transition(color, 0.2s, ease);
  &.selected {
    text-decoration: underline;
    font-weight: bold;
  }
  &:hover {
    color: $deep-blue;
  }
}

.strong {
  font-weight: bold;
}

@import 'header';
@import 'dashboard';
@import 'search-bar';
@import 'programme-information';
@import 'file-panel';
@import 'type-panel';
@import 'content-filters';
@import 'filter-item';
@import 'file-item';